
{% extends 'frontend/index.html' %}

{%block title%}Services{%endblock title%}


{%block content%}
<div class="container" style="width:100%;">
<div class="col-md-12 col-sm-12 col-lg-12">
    <!-- Tickets Block -->
    <div class="block">
        <!-- Tickets Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="{% url 'services:refresh'%}" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
            </div>
            <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><a href="#tickets-list">Services List</a></li>
                <li><a href="#ongoing-services">Ongoing</a></li>
                <li><a href="#terminated-services">Terminated</a></li>
            </ul>
        </div>
        <!-- END Tickets Title -->

        <!-- Tabs Content -->
        <div class="tab-content">
            <!-- Tickets List -->
            <div class="tab-pane active" id="tickets-list">
                <div class="block-content-full">
                    <div class="table-responsive remove-margin-bottom">
                        <table class="table table-striped table-vcenter remove-margin-bottom">
                            <thead>
                                <tr>
                                    <th class="text-center">SO</th>
                                    <th>Description</th><th>Type</th>
                                    <th>Time slot</th>
                                    <th>Source</th>
                                    <th>Destination</th>                                    
                                    <th class="text-center">Monitoring</th>
                                    <th>Options</th>
                                    <th class="text-center"><i class="fa fa-comments"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for service in services%}
                                {%if not service.destinationok%}
                                <form method="POST" action="{% url 'services:savechanges'%}">
                                    {% csrf_token %}
                                    
                                <tr>
                                    <input type="text" id="so" name="so" value="{{service.SO.SO}}" hidden>
                                    <td class="text-center">{{service.SO.SO}}</td>
                                    <td>{{service.SO.name}}<br>
                                        <a href="javascript:void(0)"><strong>Trace visual route of service</strong></a> 
                                        {%if service.checkedby.all %} | <i class="fa fa-binoculars" title="{{service.checkedby.all|length}} operator(s) verified booking"></i>: {{service.checkedby.all|length}} {%endif%}
                                        {%if service.openedby %} | <i class="fa fa-plug" title="Connection(s) opened"></i> {%endif%}
                                        {%if service.originok.all %} | <i class="fa fa-toggle-right" title="{{service.originok.all|length}} confirmed origin signal"></i>: {{service.originok.all|length}} {%endif%}
                                        {%if service.destinationok %} | <i class="fa fa-thumbs-o-up" title="service delivered"></i> {%endif%}
                                        
                                        
                                    </td>
                                    <td><span class="label label-success">ONGOING</span></td> <!--success, default or warning-->
                                    <td>
                                        <span class="label label-default">{{service.SO.starttime}}</span>
                                    <br>
                                    <span class="label label-default">{{service.SO.endtime}}</span>
                                    </td>
                                    <td>
                                        <input type="text" id="origin" name="origin" class="form-control" autocomplete="off" placeholder="Custom origin..." {%if service.origin%}value="{{service.origin}}"{%endif%}>
                                        <span class="text-muted"><strong>{{service.SO.origin}}</strong></span><br>
                                        
                                    </td>
                                    <td>
                                        <input type="text" id="destination" name="destination" class="form-control" autocomplete="off" placeholder="Custom destination..." {%if service.destination%}value="{{service.destination}}"{%endif%}>
                                        <span class="text-muted"><strong>{{service.SO.destination}}</strong></span>
                                    </td>
                                    <td class="text-center">
                                        
                                        <input type="text" id="monitor" name="monitor" class="form-control" autocomplete="off" placeholder="ATE/NTT/OG..." {%if service.monitor%}value="{{service.monitor}}"{%endif%}>
                                        <button class="btn btn-effect-ripple btn-primary fa fa-save" style="overflow: hidden;" action="submit"></button>
                                        <a href="{% url 'services:refresh'%}" class="btn btn-effect-ripple btn-primary fa fa-refresh" style="overflow: hidden;"></a>
                                        <a href="#" class="btn btn-effect-ripple btn-primary fa fa-search" style="overflow: hidden;"></a>
                                        <a href="#" class="btn btn-effect-ripple btn-primary fa fa-remove" style="overflow: hidden;"></a>
                                        </td>
                                    
                                    <td>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;">Details</button>
                                            <button type="button" class="btn btn-effect-ripple btn-primary dropdown-toggle" data-toggle="dropdown" style="overflow: hidden; position: relative;" aria-expanded="false"><span class="btn-ripple animate" style="height: 34px; width: 34px; top: 4.625px; left: -4.4375px;"></span><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li {%for a in service.checkedby.all%}{%if a.username == user.username %}class="disabled"{%endif%}{%endfor%}><a href="{% url 'services:checkbooking' service.SO.SO %}">Check booking</a></li>
                                                <li {%if service.openedby %}class="disabled"{%endif%}><a href="{% url 'services:openconnections' service.SO.SO %}" {%if service.openedby %}disabled{%endif%}>Open connections</a></li>
                                                <li {%for a in service.originok.all%}{%if a.username == user.username %}class="disabled"{%endif%}{%endfor%}><a href="{% url 'services:originok' service.SO.SO %}">Origin signal OK</a></li>
                                                <li {%if service.destinationok %}class="disabled"{%endif%}><a href="{% url 'services:destinationok' service.SO.SO %}" {%if service.destinationok %}disabled{%endif%}>Destination OK</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:void(0)">Comentary</a></li>
                                                <li><a href="{%if service.sentemail %}#{%else%}{% url 'customers:deliverserviceemail' service.SO.SO %}{%endif%}">Email delivery</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{% url 'services:issuereport' service.SO.SO%}">Issue report</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-center"><span class="badge">3</span></td>
                                    
                                </tr>
                            </form>
                            {%endif%}
                                {%endfor%}
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Tickets List -->

            <!-- Ticket View -->
            <div class="tab-pane" id="ongoing-services">
                <div class="tab-pane active" id="tickets-list">
                    <div class="block-content-full">
                        <div class="table-responsive remove-margin-bottom">
                            <table class="table table-striped table-vcenter remove-margin-bottom">
                                <thead>
                                    <tr>
                                        <th class="text-center">SO</th>
                                        <th>Description</th><th>Type</th>
                                        <th>Time slot</th>
                                        <th>Source</th>
                                        <th>Destination</th>                                    
                                        <th class="text-center">Monitoring</th>
                                        <th>Options</th>
                                        <th class="text-center"><i class="fa fa-comments"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for service in services%}
                                    {%if service.destinationok%}
                                    <form method="POST" action="{% url 'services:savechanges'%}">
                                        {% csrf_token %}
                                        
                                    <tr>
                                        <input type="text" id="so" name="so" value="{{service.SO.SO}}" hidden>
                                        <td class="text-center">{{service.SO.SO}}</td>
                                        <td>{{service.SO.name}}<br>
                                            <a href="javascript:void(0)"><strong>Trace visual route of service</strong></a> 
                                            {%if service.checkedby.all %} | <i class="fa fa-binoculars" title="{{service.checkedby.all|length}} operator(s) verified booking"></i>: {{service.checkedby.all|length}} {%endif%}
                                            {%if service.openedby %} | <i class="fa fa-plug" title="Connection(s) opened"></i> {%endif%}
                                            {%if service.originok.all %} | <i class="fa fa-toggle-right" title="{{service.originok.all|length}} confirmed origin signal"></i>: {{service.originok.all|length}} {%endif%}
                                            {%if service.destinationok %} | <i class="fa fa-thumbs-o-up" title="service delivered"></i> {%endif%}
                                            
                                            
                                        </td>
                                        <td><span class="label label-success">ONGOING</span></td> <!--success, default or warning-->
                                        <td>
                                            <span class="label label-default">{{service.SO.starttime}}</span>
                                        <br>
                                        <span class="label label-default">{{service.SO.endtime}}</span>
                                        </td>
                                        <td>
                                            <input type="text" id="origin" name="origin" class="form-control" autocomplete="off" placeholder="Custom origin..." {%if service.origin%}value="{{service.origin}}"{%endif%}>
                                            <span class="text-muted"><strong>{{service.SO.origin}}</strong></span><br>
                                            
                                        </td>
                                        <td>
                                            <input type="text" id="destination" name="destination" class="form-control" autocomplete="off" placeholder="Custom destination..." {%if service.destination%}value="{{service.destination}}"{%endif%}>
                                            <span class="text-muted"><strong>{{service.SO.destination}}</strong></span>
                                        </td>
                                        <td class="text-center">
                                            
                                            <input type="text" id="monitor" name="monitor" class="form-control" autocomplete="off" placeholder="ATE/NTT/OG..." {%if service.monitor%}value="{{service.monitor}}"{%endif%}>
                                            <button class="btn btn-effect-ripple btn-primary fa fa-save" style="overflow: hidden;" action="submit"></button>
                                            <a href="{% url 'services:refresh'%}" class="btn btn-effect-ripple btn-primary fa fa-refresh" style="overflow: hidden;"></a>
                                            <a href="#" class="btn btn-effect-ripple btn-primary fa fa-search" style="overflow: hidden;"></a>
                                            <a href="#" class="btn btn-effect-ripple btn-primary fa fa-remove" style="overflow: hidden;"></a>
                                            </td>
                                        
                                        <td>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;">Details</button>
                                                <button type="button" class="btn btn-effect-ripple btn-primary dropdown-toggle" data-toggle="dropdown" style="overflow: hidden; position: relative;" aria-expanded="false"><span class="btn-ripple animate" style="height: 34px; width: 34px; top: 4.625px; left: -4.4375px;"></span><span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li {%for a in service.checkedby.all%}{%if a.username == user.username %}class="disabled"{%endif%}{%endfor%}><a href="{% url 'services:checkbooking' service.SO.SO %}">Check booking</a></li>
                                                    <li {%if service.openedby %}class="disabled"{%endif%}><a href="{% url 'services:openconnections' service.SO.SO %}" {%if service.openedby %}disabled{%endif%}>Open connections</a></li>
                                                    <li {%for a in service.originok.all%}{%if a.username == user.username %}class="disabled"{%endif%}{%endfor%}><a href="{% url 'services:originok' service.SO.SO %}">Origin signal OK</a></li>
                                                    <li {%if service.destinationok %}class="disabled"{%endif%}><a href="{% url 'services:destinationok' service.SO.SO %}" {%if service.destinationok %}disabled{%endif%}>Destination OK</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="javascript:void(0)">Comentary</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="{% url 'services:issuereport' service.SO.SO%}">Issue report</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="text-center"><span class="badge">3</span></td>
                                        
                                    </tr>
                                </form>
                                {%endif%}
                                    {%endfor%}
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane" id="terminated-services">
                <div class="tab-pane active" id="tickets-list">
                    <div class="block-content-full">
                        <div class="table-responsive remove-margin-bottom">
                            <table class="table table-striped table-vcenter remove-margin-bottom">
                                <thead>
                                    <tr>
                                        <th class="text-center">SO</th>
                                        <th>Description</th><th>Type</th>
                                        <th>Time slot</th>
                                        <th>Source</th>
                                        <th>Destination</th>                                    
                                        <th class="text-center">Monitoring</th>
                                        <th>Options</th>
                                        <th class="text-center"><i class="fa fa-comments"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for service in services%}
                                    {%if service.destinationok%}
                                    <form method="POST" action="{% url 'services:savechanges'%}">
                                        {% csrf_token %}
                                        
                                    <tr>
                                        <input type="text" id="so" name="so" value="{{service.SO.SO}}" hidden>
                                        <td class="text-center">{{service.SO.SO}}</td>
                                        <td>{{service.SO.name}}<br>
                                            <a href="javascript:void(0)"><strong>Trace visual route of service</strong></a> 
                                            {%if service.checkedby.all %} | <i class="fa fa-binoculars" title="{{service.checkedby.all|length}} operator(s) verified booking"></i>: {{service.checkedby.all|length}} {%endif%}
                                            {%if service.openedby %} | <i class="fa fa-plug" title="Connection(s) opened"></i> {%endif%}
                                            {%if service.originok.all %} | <i class="fa fa-toggle-right" title="{{service.originok.all|length}} confirmed origin signal"></i>: {{service.originok.all|length}} {%endif%}
                                            {%if service.destinationok %} | <i class="fa fa-thumbs-o-up" title="service delivered"></i> {%endif%}
                                            
                                            
                                        </td>
                                        <td><span class="label label-success">ONGOING</span></td> <!--success, default or warning-->
                                        <td>
                                            <span class="label label-default">{{service.SO.starttime}}</span>
                                        <br>
                                        <span class="label label-default">{{service.SO.endtime}}</span>
                                        </td>
                                        <td>
                                            <input type="text" id="origin" name="origin" class="form-control" autocomplete="off" placeholder="Custom origin..." {%if service.origin%}value="{{service.origin}}"{%endif%}>
                                            <span class="text-muted"><strong>{{service.SO.origin}}</strong></span><br>
                                            
                                        </td>
                                        <td>
                                            <input type="text" id="destination" name="destination" class="form-control" autocomplete="off" placeholder="Custom destination..." {%if service.destination%}value="{{service.destination}}"{%endif%}>
                                            <span class="text-muted"><strong>{{service.SO.destination}}</strong></span>
                                        </td>
                                        <td class="text-center">
                                            
                                            <input type="text" id="monitor" name="monitor" class="form-control" autocomplete="off" placeholder="ATE/NTT/OG..." {%if service.monitor%}value="{{service.monitor}}"{%endif%}>
                                            <button class="btn btn-effect-ripple btn-primary fa fa-save" style="overflow: hidden;" action="submit"></button>
                                            <a href="{% url 'services:refresh'%}" class="btn btn-effect-ripple btn-primary fa fa-refresh" style="overflow: hidden;"></a>
                                            <a href="#" class="btn btn-effect-ripple btn-primary fa fa-search" style="overflow: hidden;"></a>
                                            <a href="#" class="btn btn-effect-ripple btn-primary fa fa-remove" style="overflow: hidden;"></a>
                                            </td>
                                        
                                        <td>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;">Details</button>
                                                <button type="button" class="btn btn-effect-ripple btn-primary dropdown-toggle" data-toggle="dropdown" style="overflow: hidden; position: relative;" aria-expanded="false"><span class="btn-ripple animate" style="height: 34px; width: 34px; top: 4.625px; left: -4.4375px;"></span><span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li {%for a in service.checkedby.all%}{%if a.username == user.username %}class="disabled"{%endif%}{%endfor%}><a href="{% url 'services:checkbooking' service.SO.SO %}">Check booking</a></li>
                                                    <li {%if service.openedby %}class="disabled"{%endif%}><a href="{% url 'services:openconnections' service.SO.SO %}" {%if service.openedby %}disabled{%endif%}>Open connections</a></li>
                                                    <li {%for a in service.originok.all%}{%if a.username == user.username %}class="disabled"{%endif%}{%endfor%}><a href="{% url 'services:originok' service.SO.SO %}">Origin signal OK</a></li>
                                                    <li {%if service.destinationok %}class="disabled"{%endif%}><a href="{% url 'services:destinationok' service.SO.SO %}" {%if service.destinationok %}disabled{%endif%}>Destination OK</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="javascript:void(0)">Comentary</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="{% url 'services:issuereport' service.SO.SO%}">Issue report</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="text-center"><span class="badge">3</span></td>
                                        
                                    </tr>
                                </form>
                                {%endif%}
                                    {%endfor%}
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- END Ticket View -->
        </div>
        <!-- END Tabs Content -->
    </div>
    <!-- END Tickets Block -->
</div>
</div>
{%endblock content%}