{%  extends 'frontend/index.html' %}
{% block content %}
<div class="block">
                                    <!-- Button Styles Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Info"><i class="fa fa-info-circle"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-success" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Success"><i class="fa fa-check"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-info" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-warning" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Warning"><i class="fa fa-exclamation-circle"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-danger" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                            <div class="btn-group">
                                                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary dropdown-toggle enable-tooltip" data-toggle="dropdown" title="" style="overflow: hidden; position: relative;" data-original-title="Extras"><i class="fa fa-chevron-down"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="gi gi-cloud-download pull-right"></i>
                                                            Download
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="gi gi-video_hd pull-right"></i>
                                                            HD Videos
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="gi gi-wifi fa-fw pull-right"></i>
                                                            Wifi
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h2>GSRM - Brazilian league - Santos vs Palmeiras (Aug 12)</h2>
                                    </div>
                                    <!-- END Button Styles Title -->

                                    <!-- Button Styles Content -->
                                    <div class="block-section">
                                        <h4 class="sub-header">Media Telecom - SO 123456</h4>
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="true">Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu text-left">
                                                <li class="dropdown-header">
                                                    <i class="fa fa-user pull-right"></i> <strong>ACTIONS</strong>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pencil pull-right"></i>
                                                        Issue report
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-cog pull-right"></i>
                                                        Request audit
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0)">Disabled</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" disabled class="btn btn-default">Check booking</button>
                                        <button type="button" disabled class="btn btn-primary">Open connections</button>
                                        <button type="button" disabled class="btn btn-success">Origin signal OK</button>
                                        <button type="button" class="btn btn-info">Destination OK</button>
                                        <div class="block-section">
                                            <i class="fa fa-asterisk fa-2x fa-spin text-muted"></i>Operator checked the service at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-primary"></i>Operator opened the connection at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-success"></i>Opeator verified that source was injecting at<br>
                                        </div>
                                    </div>
                                    <div class="block-section">

                                        <h4 class="sub-header">CBS - SO 123456</h4>
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="true">Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu text-left">
                                                <li class="dropdown-header">
                                                    <i class="fa fa-user pull-right"></i> <strong>ACTIONS</strong>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pencil pull-right"></i>
                                                        Issue report
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-cog pull-right"></i>
                                                        Request audit
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0)">Disabled</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <button type="button" disabled class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;">Check booking</button>
                                        <button type="button" disabled class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;">Open connections</button>
                                        <button type="button" disabled class="btn btn-effect-ripple btn-success" style="overflow: hidden; position: relative;">Origin signal OK</button>
                                        <button type="button" class="btn btn-effect-ripple btn-info" style="overflow: hidden; position: relative;">Destination OK</button>
                                        <div class="block-section">
                                            <i class="fa fa-asterisk fa-2x fa-spin text-muted"></i>Operator checked the service at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-primary"></i>Operator opened the connection at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-success"></i>Opeator verified that source was injecting at<br>
                                        </div>
                                    </div>
                                    <div class="block-section">

                                        <h4 class="sub-header">OneFootball - SO 123456</h4>
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="true">Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu text-left">
                                                <li class="dropdown-header">
                                                    <i class="fa fa-user pull-right"></i> <strong>ACTIONS</strong>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pencil pull-right"></i>
                                                        Issue report
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-cog pull-right"></i>
                                                        Request audit
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0)">Disabled</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" disabled class="btn btn-square btn-default">Check booking</button>
                                        <button type="button" disabled class="btn btn-square btn-primary">Open connections</button>
                                        <button type="button" disabled class="btn btn-square btn-success">Origin signal OK</button>
                                        <button type="button" class="btn btn-square btn-info">Destination OK</button>
                                        <div class="block-section">
                                            <i class="fa fa-asterisk fa-2x fa-spin text-muted"></i>Operator checked the service at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-primary"></i>Operator opened the connection at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-success"></i>Opeator verified that source was injecting at<br>
                                        </div>
                                    </div>

                                    <div class="block-section">
                                        <h4 class="sub-header">LTN - SO 123456</h4>
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="true">Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu text-left">
                                                <li class="dropdown-header">
                                                    <i class="fa fa-user pull-right"></i> <strong>ACTIONS</strong>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pencil pull-right"></i>
                                                        Issue report
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-cog pull-right"></i>
                                                        Request audit
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0)">Disabled</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" disabled class="btn btn-rounded btn-default">Check booking</button>
                                        <button type="button" disabled class="btn btn-rounded btn-primary">Open connections</button>
                                        <button type="button" disabled class="btn btn-rounded btn-success">Origin signal OK</button>
                                        <button type="button" class="btn btn-rounded btn-info">Destination OK</button>
                                        <div class="block-section">
                                            <i class="fa fa-asterisk fa-2x fa-spin text-muted"></i>Operator checked the service at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-primary"></i>Operator opened the connection at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-success"></i>Opeator verified that source was injecting at<br>
                                        </div>
                                    </div>
                                    <div class="block-section">
                                        <h4 class="sub-header">Stats Perform - SO 123456</h4>
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="true">Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu text-left">
                                                <li class="dropdown-header">
                                                    <i class="fa fa-user pull-right"></i> <strong>ACTIONS</strong>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pencil pull-right"></i>
                                                        Issue report
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-cog pull-right"></i>
                                                        Request audit
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0)">Disabled</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" disabled class="btn btn-rounded btn-default">Check booking</button>
                                        <button type="button" disabled class="btn btn-rounded btn-primary">Open connections</button>
                                        <button type="button" class="btn btn-rounded btn-success">Origin signal OK</button>
                                        <button type="button" class="btn btn-rounded btn-info">Destination OK</button>
                                        <div class="block-section">
                                            <i class="fa fa-asterisk fa-2x fa-spin text-muted"></i>Operator checked the service at GMT<br>
                                            <i class="fa fa-asterisk fa-2x fa-spin text-primary"></i>Operator opened the connection at GMT<br>
                                        </div>


                                    </div>

                                    <!-- END Button Styles Content -->
                                </div>
{% endblock content %}

